.hidden {
  display: none;
}

img {
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

#clock {
  color: aliceblue;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0;
  font-size: 128px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#login-form {
  text-align: center;
  margin-top: 0;
}

#greeting {
  color: aliceblue;
  text-align: center;
  margin-top: 0;
  font-size: 32px;
}

#todo-form {
  text-align: center;
  margin-top: 32px;
}

#todo-input {
  width: 240px;
  height: 24px;
  border-radius: 10px;
  border: solid 4px #1c2833;
}

#todo-btn {
  width: 80px;
  height: 30px;
  margin-left: 4px;
  border-radius: 8px;
  color: #fff;
  background-color: #1c2833;
  border: solid 2px;
}

#todo-list {
  width: 400px;
  margin: auto;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #fff;
  background-color: #1c2833;
  border-radius: 15px;
  padding: 10px 10px 10px 30px;
}

#todo-list button {
  display: flex;
  justify-content: end;
}

#quote {
  width: 420px;
  margin: auto;
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  background-color: #1c2833;
  border-radius: 15px;
  padding: 10px;
}

#weather {
  width: 800px;
  margin: auto;
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  background-color: #1c2833;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  #clock {
    font-size: 80px;
  }

  #greeting {
    font-size: 24px;
  }

  #todo-input {
    width: 140px;
  }

  #todo-btn {
    width: 60px;
    margin-left: 0px;
  }

  #todo-list {
    width: 300px;
  }

  #quote {
    font-size: 14px;
    width: 320px;
  }

  #weather {
    font-size: 14px;
    width: 300px;
  }
}
